<p><%= @resource.name %> 様</p>

<p>パスワードリセットのリクエストを受け付けました。以下のリンクからパスワードを変更してください。</p>

<p><%= link_to "パスワードを変更する", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>心当たりがない場合はこのメールを無視してください。</p>
<p>上記のリンクからパスワードを変更しない限り、現在のパスワードは変更されません。</p>
