<footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4 w-full">
  <nav class="flex justify-center gap-4 mt-2">
    <%= link_to "利用規約", terms_of_service_path, class: "link link-hover text-sm" %>
    <span>|</span>
    <%= link_to "プライバシーポリシー", privacy_policy_path, class: "link link-hover text-sm" %>
  </nav>
  <aside class="-mt-2">
    <p class="text-sm">© 2026 脳のスキトレ</p>
  </aside>
</footer>